*.gz
*.7z
*.pdf
res/
.idea
build
*.aux
*.toc
*.log
*.thm
*.lof
*.loa
*.fls
*.fdb_latexmk
*.blg
*.bbl
*.out
reference/
*/.gradle/
*/output/*
*.png
compression/input
compression/debug
compression/output
compression/sql
*.nps
*.zip